{
    "presets": [
      "@babel/preset-env",
      "@babel/react"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
    ],
    "env": {
      "test": {
        "presets": [
          "@babel/preset-env",
          "@babel/react"
          ],
        "plugins": [
          "transform-class-properties",
          "transform-object-rest-spread"
        ]
      }
    }
  }