.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidenav---sidenav---_2tBP {
  background: #141414 !important;
}
.sidenav---highlighted---oUx9u {
  background: black ;
}
.sidenav---sidenav-toggle---1KRjR {
  float: right !important;
}
.side-menu-open {
  margin-left: 236px;
  transition: 0.15s all;
}
.side-menu-closed {
  margin-left: 64px;
  transition: 0.15s all;
}